@charset "UTF-8";

/************/
/* 共通     */
/************/
::selection{ background-color: gold; }
* { font-family: 'Quicksand', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-weight: bolder; word-break: keep-all; overflow-wrap: break-word; margin: 0; padding: 0; }
body,html { height: 100%; margin: 0 auto;}

#wrapper { display: grid; }

@media ( max-width: 40em ) {
	/************/
	/* レイアウト */
	/************/
	#wrapper {
		grid-template-columns: repeat( auto-fit, 10em );
		grid-template-areas:
			"header"
			"menu1"
			"menu2"
			"menu3"
			"menu4"
			"img"
			"pan"
			"content"
			"side"
			"footerL"
			"footerR"
			"CopyR";
		grid-template-columns: 100%;
	}
	#HPImage { height: 4em; }
}
@media ( min-width: 40em ) {
	/************/
	/* レイアウト */
	/************/
	#wrapper{
		grid-template-columns: .7fr 1fr 1fr 1fr 1fr .5fr;
		grid-template-areas:
		"header   menu1   menu2   menu3   menu4 menu5"
		"img      img     img     img     img     img"
		"navi1    pan     pan     pan     pan     tmp"
		"navi2    content content content side    tmp"
		"footerLs footerL footerL footerR footerR footerRs"
		"CopyR    CopyR   CopyR   CopyR   CopyR   CopyR";
		grid-template-rows: 3rem auto;
	}
	#header, #menu1, #menu2, #menu3, #menu4 {
		line-height: 3rem;
		vertical-align: middle;
		text-align: center;
	}
	#footerL, #footerR, #footerLs, #footerRs, #CopyR {
		color: white;
		text-align: center;
		background-color: black;
		padding: .7rem;
	}
	#HPImage { height: 200px; background-size: contain; }
}

/************/
/* ヘッダー */
/************/
#header { grid-area: header; font-size: larger; }
#menu1 { grid-area: menu1; }
#menu2 { grid-area: menu2; }
#menu3 { grid-area: menu3; }
#menu4 { grid-area: menu4; }

/************/
/* 画像 */
/************/
#HPImage {
	grid-area: img;
	width: 100%;
	background-image: url("../img/HPimg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
}

/************/
/* パンくず */
/************/
#pan { grid-area: pan; background-color: green; }

/************/
/* 本文 */
/************/
#content {
	grid-area: content;
	background-color: lightpink;
}
/************/
/* サイド */
/************/
#side {
	grid-area: side;
	background-color: pink;
	height: 100%;
}
.CharTitle { font-size: larger; }
.CharEmp { padding-left: .3rem; }
/************/
/* フッター */
/************/
#footerL, #footerR, #CopyR {
	color: white;
	text-align: center;
	background-color: black;
	padding: .7rem;
}
#footerLs { grid-area: footerLs; }
#footerRs { grid-area: footerRs; }
#footerL { grid-area: footerL; }
#footerR { grid-area: footerR; }
#CopyR { grid-area: CopyR; }
.FooterInfo { font-size: larger; padding: .5rem; text-align: left; border-bottom: 1px solid white; }
.FooterSent { text-align: left; padding: .5rem; font-weight: normal; }
