@charset "UTF-8";

/************/
/* 共通     */
/************/
::selection{ background-color: aliceblue; color: black; }
* { font-family: 'Quicksand', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-weight: bolder; word-break: keep-all; overflow-wrap: break-word; margin: 0; padding: 0; }
body,html { height: 100%; margin: 0 auto;}

#wrapper { display: grid; }

@media ( max-width: 40em ) {
	/************/
	/* レイアウト */
	/************/
	#wrapper {
		grid-template-columns: repeat( auto-fit, 10em );
		grid-template-areas:
			"header"
			"menu1"
			"menu2"
			"menu3"
			"menu4"
			"img"
			"pan"
			"content"
			"side"
			"footerL"
			"footerR"
			"CopyR";
		grid-template-columns: 100%;
	}
	#wrapper div div, #pan ul, #content { padding-left: .3rem; }
	#header::before { height: 1.5rem; width: 1.5rem; margin: .3rem 0 .3rem .5rem; }
	#header { display: inline-block; line-height: 1.3rem; vertical-align: text-bottom; }
	#HPImage { height: 4em; }
	#header, #menu3 { border-bottom: 1px solid black; }
	#menu2, #menu3, #menu4 { border-top: 1px solid black; }
	#menu1, #menu2, #menu3, #menu4 { padding-left: 1rem; }
}
@media ( min-width: 40em ) {
	/************/
	/* レイアウト */
	/************/
	#wrapper{
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr .5fr;
		grid-template-areas:
		"header   header   menu1   menu2   menu3 menu4"
		"img      img     img     img     img     img"
		"navi1    pan     pan     pan     pan     tmp"
		"navi2    content content content side    tmp"
		"footerLs footerL footerL footerR footerR footerRs"
		"CopyR    CopyR   CopyR   CopyR   CopyR   CopyR";
		grid-template-rows: 3rem auto;
	}
	#header::before { height: 1.7rem; width: 1.7rem; }
	#header, #menu1, #menu2, #menu3, #menu4 {
		line-height: 3rem;
		vertical-align: middle;
		text-align: center;
	}
	#footerL, #footerR, #footerLs, #footerRs, #CopyR {
		color: white;
		text-align: center;
		background-color: darkslategray;
		padding: .7rem;
	}
	#HPImage { height: 200px; background-size: contain; }
}
/************/
/* ヘッダーアイコン */
/************/
#header::before {
	display: inline-block;
	content: "";
	background-image: url("../img/hederIcon.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}

/************/
/* ヘッダー */
/************/
#header { grid-area: header; font-size: larger; }
#menu1 { grid-area: menu1; }
#menu2 { grid-area: menu2; }
#menu3 { grid-area: menu3; }
#menu4 { grid-area: menu4; }
#menu1:hover, #menu2:hover, #menu3:hover, #menu4:hover { background-color: darkseagreen; font-size: 1.1rem; }

/************/
/* 画像 */
/************/
#HPImage {
	grid-area: img;
	width: 100%;
	background-image: url("../img/HPimg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
}

/************/
/* BreadC */
/************/
#pan { grid-area: pan; padding: .5rem 0; }
.panList { display: inline; }
.panList::after { content: '>'; padding: 0 .2rem; }
.panList:last-child::after { display: none; }
.panList a { display: inline-block; text-decoration: none; color: darkslategray; }

/************/
/* 本文 */
/************/
#content { grid-area: content; }

.title {
	width: 95%;
	display: inline-block;
	background-origin: border-box;
	border-radius: 3px;
	padding-left: 1rem;
	background-image: url( "../img/CSimg.jpg" );
	background-repeat: no-repeat;
	opacity: .8;
}

.title div p {
	font-weight: bolder;
	height: 5rem;
	line-height: 5rem;
	font-size: 2em;
	vertical-align: middle;
	color: white;
	-webkit-text-stroke: .05rem darkolivegreen;
	text-stroke: .05rem darkolivegreen;
	opacity: 1;
}

/************/
/* サイド */
/************/
#side {
	grid-area: side;
	height: 100%;
	color: gainsboro;
	margin-bottom: .5rem;
}
.CharTitle { font-size: larger; }
.CharEmp { padding-left: .3rem; width: 95%; height: 7rem; border: 1px solid black; }
/************/
/* フッター */
/************/
#footerL, #footerR, #CopyR {
	color: white;
	text-align: center;
	background-color: darkslategray;
	padding: .7rem;
}
#footerLs { grid-area: footerLs; }
#footerRs { grid-area: footerRs; }
#footerL { grid-area: footerL; }
#footerR { grid-area: footerR; }
#CopyR { grid-area: CopyR; }
.FooterInfo { font-size: larger; padding: .5rem; text-align: left; border-bottom: 1px solid white; }
.FooterSent { text-align: left; padding: .5rem; font-weight: normal; }
